div {
	font-family: KaiTi;
}

a {
	color:blue;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	background: url("./C.jpg") no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	background-color: #f8baba;
	font-family: sans-serif;
}
.shang {
	position: absolute;
	top: 15%;
	left: 47%;
	text-align: center;
}
	.shang h1 {
		margin: 0 0 40px;
		padding: 0;
		text-align: center;
		color: rgba(0,0,0,.9);
		font-size: 40px;
	}
.zuo {
	position: absolute;
	top: 40%;
	left: 25%;
	text-align: center;
	transform: translate(-50%,-50%);
	width: 250px;
	padding: 60px 40px;
	background: #f8f2f2b4;
	box-shadow: 0 15px 20px rgba(0,0,0,.5);

}

	.zuo h3 {
		margin: 0 0 30px;
		padding: 0;
		text-align: center;
		color: rgb(14, 9, 9, 0.8);
		font-size: 23px;
	}


.zuo2 {
	position: absolute;
	top: 80%;
	left: 25%;
	text-align: center;
	transform: translate(-50%,-50%);
	width: 250px;
	padding: 60px 40px;
	background: #f8f2f2b4;
	box-shadow: 0 15px 20px rgba(0,0,0,.5);
}

.zuo2 h3 {
	margin: 0 0 30px;
	padding: 0;
	text-align: center;
	color: rgb(14, 9, 9, 0.8);
	font-size: 23px;
}

.you {
	position: absolute;
	top: 40%;
	left: 75%;
	text-align: center;
	transform: translate(-50%,-50%);
	width: 250px;
	padding: 60px 40px;
	background: #c0c0c06c;
	box-shadow: 0 15px 20px rgba(0,0,0,.5);
}


.you h3 {
	margin: 0 0 30px;
	padding: 0;
	text-align: center;
	font-weight:bold;
	color: rgb(14, 9, 9, 1);
	font-size: 23px;
}

	.you .dian {
		position: relative;
		margin: 20px 10px;
	}

	.you .dian input {
		outline: none;
		height: 40px;
		padding: 10px;
		left: 50%;
		box-sizing: border-box;
		width: 100%;
		border: 1px solid rgba(0,0,0,.5);
		background: transparent;
		font-size: 15px;
	}

		.you .dian input[type="button"] {
			background: #0082ff;
			color: #fff;
			border: none;
			cursor: pointer;
			text-transform: uppercase;
		}

			.you .dian input[type="button"]:hover {
				background: #4cbca5;
			}

.xia {
	position: absolute;
	top: 60%;
	left: 50%;
	text-align: center;
	transform: translate(-50%,-50%);
	width: 250px;
	padding: 60px 40px;
	background: #ffffff95;
	box-shadow: 0 15px 20px rgba(0,0,0,.3);
}


	.xia h3 {
		margin: 0 0 30px;
		padding: 0;
		text-align: center;
		font-weight: bold;
		color: rgb(14, 9, 9, 1);
		font-size: 23px;
	}

.back {
	position: absolute;
	left: 1%;
	text-align: center;
	width: 70px;
	padding: 10px 10px;
	background: #ffffff26;
	box-shadow: 0 15px 15px rgba(0,0,0,.2);
}
